# 7.1

In [ ]:
--Using EVregistry, Write a query to select the ModelYear, Make, and Model off all of the vehicles in the registry.
SELECT
	ModelYear,
	Make,
	Model
FROM EVRegistry

In [ ]:
--Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your reult set should have one column, ElectricVehicleType.
SELECT DISTINCT ElectricVehicleType
FROM EVRegistry

In [ ]:
-- 3 Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry.
SELECT *
FROM EVRegistry
WHERE ElectricVehicleType like '%BEV%'

In [ ]:
-- 4 Using the EVRegistry, wirte a query that returns the Make and Model of all of the EV's that have a BaseMSRP between 20000 and 35000?
SELECT Make, Model
FROM EVRegistry
WHERE BaseMSRP > 20000 and BaseMSRP <35000
ORDER by make ASC

# 7.2

In [ ]:
-- 1Using EVRegistry, write a query to find a record where the City attribute is NULL. Return all of the available columns.
SELECT *
from EVRegistry
WHERE City is NULL

In [ ]:
-- 2 Write a query to find the make, model, and ElectricVehicleType where the VIN number has that ends in '3E1EA1J'.
SELECT 
	make,
	Model,
	ElectricVehicleType
FROM EVRegistry
WHERE VIN like '%3E1Ea1J'

In [ ]:
-- Select the ModelYear, make, model, ElectricVehicleType, and range of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest.
SELECT
	ModelYear,
	Make,
	Model,
	ElectricVehicleType,
	ElectricRange
FROM EVRegistry
WHERE Make = 'TESLA' or MAKE = 'CHEVROLET'
ORDER by Make, ModelYear DESC

In [ ]:
--4 Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records.
SELECT stationId, count(sessionId) as 'NumofCharges'
FROM EVCharging
GROUP by stationId
ORDER by count(sessionId) DESC
LIMIT 5

In [ ]:
-- 5 Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively.
SELECT
	userId,
	min(chargeTimeHrs) as 'minTime',
	max(chargeTimeHrs) as 'maxTime'
from EVCharging
WHERE chargeTimeHrs > .5
GROUP by userId
ORDER by 2,3

# 7.3

In [ ]:
-- 1 Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points.
SELECT weekday, round(avg(chargeTimeHrs),2)
FROM EVCharging
GROUP by weekday
ORDER by avg(chargeTimeHrs) DESC
LIMIT 1

In [ ]:
-- 2 Using, EV charging, Find the total power consumed from charging EV's by each User. Return the userId and name the calculated column, totalPower. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users.
SELECT userId, round(sum(kwhTotal), 2) as 'totalPower'
FROM EVCharging
GROUP by userId
order by 2 DESC
limit 15

In [ ]:
-- 3 Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return type Facility and name the calculated column numStation. Order the result set from highest to lowest number of charging stations.
SELECT 
	df.FacilityKey,
	df.typeFacility,
	count(DISTINCT fc.stationId) as 'numStations'
FROM dimFacility df
INNER JOIN factCharge fc
on df.FacilityKey = fc. facilityID
group by df.FacilityKey
order by 3 DESC

### 4 In your own words, Briefly explain Primary Keys and Foreign Keys.
##### A primary key is one or more columns, that do not include null values. They are unique and used to join two or more tables in SQL.  It is located on the original database
##### A foreign key is data that refers to a primary key from another database or table

In [ ]:
-- 5 Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively. HINT: USE HAVING
SELECT 
	userId,
	min(chargeTimeHrs) as 'minTime',
	max(chargeTimeHrs) as 'maxTime'
FROM EVCharging
GROUP by userId
HAVING chargeTimeHrs > 1
ORDER by 2,3